@use '../../../../styles.scss' as *;

// This is the main container for the entire header section
.header-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

// This contains the "This Month" category part

.category-info {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24 px;
}

.category-indicator {
  width: 20px;
  height: 40px;
  background-color: $primary-color;
  border-radius: 4px;
}

.category-text {
  color: $primary-color;
  font-weight: 600;
}

.main-header-row {
  display: flex;
  justify-content: space-between; 
  align-items: center;         
}

.title-and-timer {
  display: flex;
  align-items: center;
  gap: 80px; 
}

.title {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 1.44px;
  line-height: 48px;
  margin: 0;
}

.controls {
  display: flex;
  align-items: center;
  gap: 16px; 
}




